<div class="clock">
  <span class="hours"></span>
  <div *ngFor="let hrs of listaHoras; let i = index">
    <div [ngClass]="{'changeColor': changeColorHours(i)== true}">
      <b>{{ hrs }}</b>
    </div>
  </div>
  <!-- <div style="--i:1"><b>1</b></div>
    <div style="--i:2"><b>2</b></div>
    <div style="--i:3"><b>3</b></div>
    <div style="--i:4"><b>4</b></div>
    <div style="--i:5"><b>5</b></div>
    <div style="--i:6"><b>6</b></div>
    <div style="--i:7"><b>7</b></div>
    <div style="--i:8"><b>8</b></div>
    <div style="--i:9"><b>9</b></div>
    <div style="--i:10"><b>10</b></div>
    <div style="--i:11"><b>11</b></div>
    <div style="--i:12"><b>12</b></div> -->
</div>
